<div class="grid-container wiki">
    <div class="grid-x">
      <div class="small-12 cell">
        <div class="manage-post" *ngIf="isAuthenticated">
          <button class="button" routerLInk="/delete">Delete</button>
          <button class="button" [routerLink]="['/edit', slug]">Edit</button>
          <button class="button" routerLink="/edit">Create</button>
        </div>
        <markdown [data]="content"></markdown>
      </div>
      <div class="wiki-list">
        Clickable links for wiki entries
        <!-- /// Read Function will go here
        /// delete function button will be enabled for admin here -->
      </div>
    </div>
  </div>